@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1250px;
    min-height: 100%;
    margin: auto;
    padding-top: 30px;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 'header' 'main' 'footer';
}

.header {
    background-color: cornflowerblue;
    grid-area: header;
    padding: 15px;
    display: grid;
    grid-template: 1fr / 5fr 5fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.header__logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: azure;
    grid-column: 2 / 3;
}

.header__dev {
    grid-column: 4 / 5;
}

.header__fio {
    grid-column: 4 / 5;
}

.main {
    background-color: aquamarine;
    grid-area: main;
    padding: 30px 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.sidebar {
    background-color: aqua;
    grid-column: 2 / 3
}

.avatar {
    position: absolute;
    top: 70px;
    min-height: 15%;
    max-width: 15%;
    margin: 20px 0 0 20px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.content {
    grid-column: 3 / 4
}

.contact {

}

.education {

}

.experience {

}

.footer {
    background-color: cadetblue;
    display: flex;
    min-height: 70px;
    align-items: center;
}

.footer-item {
    width: 45%;
}

.footer-img {
    width: 70px;
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .wrapper {
        max-width: 1320px;
    }
}